openapi: 3.0.1
info:
  title: Awin Accounts Commission Groups API
  description: Documented public REST API for the Awin global affiliate marketing network. Publishers and advertisers pull individual transactions and aggregated performance reports, read commission groups and programme details, and list the accounts a user can access. All endpoints are served over HTTPS only, return JSON, and authenticate with an OAuth 2.0 Bearer access token issued at the user level from the Awin UI. A platform throttle limits usage to 20 API calls per minute per user. Endpoints and parameters below are grounded in the public Awin API documentation at help.awin.com/apidocs.
  termsOfService: https://www.awin.com/gb/legal
  contact:
    name: Awin API Support
    url: https://help.awin.com/apidocs/introduction-1
  version: '1.0'
servers:
- url: https://api.awin.com
  description: Awin API (HTTPS only)
security:
- bearerAuth: []
tags:
- name: Commission Groups
  description: Commission groups and rates for a programme.
paths:
  /publishers/{publisherId}/commissiongroups:
    get:
      operationId: getCommissionGroups
      tags:
      - Commission Groups
      summary: Get commission groups for an advertiser programme
      description: Return all commission groups of a programme along with the commission values a publisher earns.
      parameters:
      - $ref: '#/components/parameters/publisherId'
      - $ref: '#/components/parameters/accessToken'
      - name: advertiserId
        in: query
        required: true
        description: The advertiser identifier.
        schema:
          type: integer
      - name: effectiveDate
        in: query
        required: false
        description: ISO-8601 timestamp to retrieve historical rates.
        schema:
          type: string
          format: date-time
      - name: extraConditionsDetails
        in: query
        required: false
        description: Include condition values when true.
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  commissionGroups:
                    type: array
                    items:
                      $ref: '#/components/schemas/CommissionGroup'
components:
  parameters:
    publisherId:
      name: publisherId
      in: path
      required: true
      description: The publisher account identifier.
      schema:
        type: integer
    accessToken:
      name: accessToken
      in: query
      required: true
      description: User-level access token (also accepted as an Authorization Bearer header).
      schema:
        type: string
  schemas:
    CommissionGroup:
      type: object
      properties:
        groupId:
          type: integer
        groupName:
          type: string
        groupCode:
          type: string
        type:
          type: string
          enum:
          - fix
          - percentage
        amount:
          type: number
          description: Commission value for fixed-rate types.
        percentage:
          type: number
          description: Commission value for percentage-based types.
        currency:
          type: string
        ratesStart:
          type: string
          format: date-time
        ratesEnd:
          type: string
          format: date-time
        conditions:
          type: array
          items:
            type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 user-level access token generated at ui.awin.com/awin-api and sent as an Authorization Bearer header. The Create Transactions API is the exception and uses an x-api-key header instead. Many endpoints also accept the token as an accessToken query parameter.
